h1 {
  position: relative;
  top: -35px;
  color: #f2f2f2 !important;
  font-size: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

hr {
  color: #808080 !important;
  margin: 12px auto !important;
}
