.mobile-nav {
  background-color: #252525;
  position: fixed;
  bottom: 0;
  width: 100%;

  a {
    width: 100%;
    padding: 12px 0;
    line-height: 1;

    &:active {
      span {
        font-size: 20px;
      }
    }
  }
}
